<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/farmacia-css/main.css') }}">
    <title>{% block titulo %}Página sin título{% endblock %} - Farmacia</title>
</head>

<body>
    <div class="sidebar">
        <ul class="nav-sidebar">
            <li class="nav-item">
                <a href="{{ url_for('admin.admin_index') }}" class="nav-item-link">Inicio</a>
            </li>
            {% block navegacion_lateral %}{% endblock %}
        </ul>
    </div>
    <div class="container">
        {% block contenido %}
        {% endblock %}
    </div>
</body>