<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Farmacia</title>
</head>
<body>
    <div class="sidebar">
        <ul class="nav-sidebar">
            <li class="nav-item">
                <a href="#" class="nav-item-link">Panel</a>
                <a href="#" class="nav-item-link">Categorías</a>
                <a href="#" class="nav-item-link">Productos</a>
                <a href="#" class="nav-item-link">Clientes</a>
                <a href="#" class="nav-item-link btn alt-primario">Venta</a>
            </li>
        </ul>
        <ul class="footer-sidebar">
            <li class="text-blanco text-centro">
                <p>Bienvenido Tomás!</p>
            </li>
            <li>
                <button class="primario text" style="width: 100%;">Cerrar sesión</button>
            </li>
        </ul>
    </div>
    <div class="container">
        <main><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita voluptatibus facilis blanditiis tempore reprehenderit aliquam veniam cumque in. Asperiores, omnis! Odit magni incidunt quam dicta quae ea reiciendis? Rem quasi a nulla voluptates non est, consectetur perspiciatis architecto amet quas.</p></main>
        <footer>
            <p>Simple Farmacia es un software desarrollado por <a href="https://github.com/tomxscodex" target="_blank" rel="noopener noreferrer" class="externo">@tomxscode</a></p>
        </footer>
    </div>
</body>
</html>